{% extends 'base.html' %}
{% block title %} Contact Us{% endblock title %}


{% block body %}
 <div class="container my-3">
 <h3> Contact Us !!!</h3>
 <form action="/contact/" method="post"> {% csrf_token %}
 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address: </label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
</div>
<div class="mb-3">
  <label for="username" class="form-label">username: </label>
  <input type="text" class="form-control" id="username" placeholder="abc...." name="uname">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Mention your query here</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
</div>
<button type="submit" class="btn btn-danger">Submit</button>
</form>
 </div>
{% endblock body %}